@import '../../public/stylesheet/base';

.web-blog{
    .header{
        width: 100%;
        height: 250px;
        box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
        position: relative;
        background: url(http://p3d0pinbj.bkt.clouddn.com/Panorama_puy_de_dome_sud.jpg) no-repeat center 80%;
        background-size: cover;
        z-index: 200;
      
        &.blurred{
          filter: blur(2px);
        }
    
        .header-title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 900;
    
            h1 {
                letter-spacing: 0.3em;
                font-size: 40px;
                color: white;
                text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            }
        }
    }
}
